USE [StajyerDb]
GO
/****** Object:  Table [dbo].[dt_dosya]    Script Date: 27.08.2025 11:38:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dt_dosya](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[dosya] [nvarchar](500) NULL,
	[adres] [nvarchar](500) NULL,
	[tarih] [datetime] NULL,
 CONSTRAINT [PK_dt_dosya] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dt_mesaj]    Script Date: 27.08.2025 11:38:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dt_mesaj](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](500) NULL,
	[Soyad] [nvarchar](500) NULL,
	[Tip] [int] NULL,
	[MesajMetni] [nchar](1000) NULL,
	[Durum] [bit] NULL,
	[Tarih] [datetime] NULL,
 CONSTRAINT [PK_dt_mesaj] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[sp_dt_mesaj_Insert]    Script Date: 27.08.2025 11:38:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_dt_mesaj_Insert]
    @Ad           NVARCHAR(100),
    @Soyad        NVARCHAR(100),
    @Tip          INT,
    @MesajMetni   NVARCHAR(MAX),
    @Durum        BIT,
    @Tarih        DATETIME = NULL,
    @NewId        INT OUTPUT   -- eklenen kaydın ID'si buradan dönecek
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRY
        BEGIN TRAN;

        INSERT INTO dbo.dt_mesaj (ad, soyad, tip, MesajMetni, durum, tarih)
        VALUES (@Ad, @Soyad, @Tip, @MesajMetni, @Durum, ISNULL(@Tarih, GETDATE()));

        SET @NewId = CAST(SCOPE_IDENTITY() AS INT);

        COMMIT TRAN;

        -- İsterseniz SELECT ile de döndürebilirsiniz:
        SELECT @NewId AS NewId;
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0 ROLLBACK TRAN;

        DECLARE @ErrMsg NVARCHAR(4000) = ERROR_MESSAGE(),
                @ErrNum INT = ERROR_NUMBER(),
                @ErrSev INT = ERROR_SEVERITY(),
                @ErrState INT = ERROR_STATE();

        RAISERROR(@ErrMsg, @ErrSev, @ErrState);
        RETURN;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_dt_mesaj_Update]    Script Date: 27.08.2025 11:38:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_dt_mesaj_Update]
    @id           INT,                -- Güncellenecek kaydın ID'si
    @Ad           NVARCHAR(100),
    @Soyad        NVARCHAR(100),
    @Tip          INT,
    @MesajMetni   NVARCHAR(MAX),
    @Durum        BIT,
    @Tarih        DATETIME = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRY
        BEGIN TRAN;

        UPDATE dbo.dt_mesaj
        SET
            ad = @Ad,
            soyad = @Soyad,
            tip = @Tip,
            MesajMetni = @MesajMetni,
            durum = @Durum,
            tarih = ISNULL(@Tarih, GETDATE())
        WHERE id = @id;

        COMMIT TRAN;

        SELECT @id AS UpdatedId;
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0 ROLLBACK TRAN;

        DECLARE @ErrMsg NVARCHAR(4000) = ERROR_MESSAGE(),
                @ErrNum INT = ERROR_NUMBER(),
                @ErrSev INT = ERROR_SEVERITY(),
                @ErrState INT = ERROR_STATE();

        RAISERROR(@ErrMsg, @ErrSev, @ErrState);
        RETURN;
    END CATCH
END
GO
